<div class="cocktail-new">
  <%= link_to cocktails_path, class: "cocktail-back" do %>
    <span class="back-arrow">‹</span>
  <% end %>

  <h1>Modifier le Cocktail</h1>
  <p class="cocktail-new-subtitle">Modifiez votre création</p>

  <%= render "form", cocktail: @cocktail %>
</div>
