<div class="cocktails-page">
  <div class="cocktails-header">
    <div>
      <span class="menu-subtitle">The Bartender</span>
      <h1>My Cocktails</h1>
    </div>

    <%= link_to "＋ New Cocktail", new_cocktail_path, class: "new-cocktail-btn" %>
  </div>

  <div class="cocktails-list">
    <% @cocktails.each do |cocktail| %>

      <%= link_to cocktail_path(cocktail), class: "cocktail-card" do %>

        <div class="cocktail-card-content">

          <div class="cocktail-glass">
            🥃
          </div>

          <div class="cocktail-info">
            <h2><%= cocktail.name %></h2>

            <p class="cocktail-mood">
              <%= cocktail.mood %>
            </p>
          </div>

          <div class="cocktail-arrow">
            →
          </div>

        </div>

      <% end %>

    <% end %>
  </div>
</div>
