<h1>My Cocktails</h1>

<%= link_to "Create a cocktail", new_cocktail_path %>

<% @cocktails.each do |cocktail| %>

  <div>
    <h2><%= cocktail.name %></h2>

    <p><%= cocktail.mood %></p>

    <%= link_to "See details", cocktail_path(cocktail) %>
  </div>

<% end %>
