<div class="cocktail-card-inline">
  <% if cocktail.image_url.present? %>
    <%= image_tag cocktail.image_url,
                  class: "cocktail-recommendation-image",
                  alt: cocktail.name %>
  <% end %>

  <h2><%= cocktail.name %></h2>

  <div class="cocktail-section">
    <strong>Ingrédients</strong>
    <div class="cocktail-text">
      <%= simple_format(cocktail.ingredients) %>
    </div>
  </div>

  <div class="cocktail-section">
    <strong>Recette</strong>
    <div class="cocktail-text">
      <%= simple_format(cocktail.recipe) %>
    </div>
  </div>
</div>
