<section class="chat-hero">

  <div class="hero-overlay">

    <div class="hero-content">
      <span class="hero-subtitle">
      </span>

      <h1>Parle au bartender</h1>

      <p>
        Commence une conversation avec le bartender.
        Parle lui de ton mood, ta journée,
        ou comment se passe votre soirée.
      </p>

      <%= button_to "Commence à discuter",
                    chats_path,
                    method: :post,
                    class: "hero-btn" %>
    </div>

  </div>

</section>
