<section class="chat-hero">

  <div class="hero-overlay">

    <div class="hero-content">
      <span class="hero-subtitle">
        BILL
      </span>

      <h1>Parle à Bill</h1>

      <p>
        Commence une conversation avec Bill.
        Parle-lui de ton mood, de ta journée,
        ou de l'ambiance que tu cherches pour ta soirée.
      </p>

      <%= button_to "Commencer à discuter",
                    chats_path,
                    method: :post,
                    class: "hero-btn" %>
    </div>

  </div>

</section>
