@media (min-width: 993px) {
  .chat-page .chat-header,
  .chat-page .chat-body,
  .chat-page .messages-container {
    max-width: 1460px;
  }

  .chat-page .assistant-row {
    padding-right: 46%;
  }

  .chat-page .user-row {
    padding-left: 46%;
  }

  .chat-page .message-bubble {
    max-width: 460px;
  }
}

@media (max-width: 992px) {
  .chat-page #messages-bottom {
    height: 300px;
  }

  .chat-page .messages-container {
    scroll-padding-bottom: 300px;
  }
}
